{% extends 'base.html'%}

{% block title %} Cafe Website {% endblock %}

{% block content %}

<header class="container py-4 text-center">
        <h1 class="display-4 text-gold">Remote Cafe Finder</h1>
        <p class="lead">Find your perfect work-friendly cafe - curated for remote professionals.</p>

    </header>
    <main class="container text-center">
        <a href="/add-cafe" class="btn btn-gold me-3">Add a Cafe</a>
        <a href="/admin" class="btn btn-outline-gold">Admin Panel</a>
    </main>

{% endblock %}
