@use 'sass:map';
@use 'variables' as v;

.orders-table {
    width: 100%;
    border-collapse: collapse;
    margin: v.$spacing-lg 0;

    th,
    td {
        border-bottom: 1px solid var(--border);
        padding: v.$spacing-md;
        text-align: left;
    }

    th {
        background: var(--accent-light);
        color: var(--text-dark);
    }

    tr:nth-child(even) {
        background-color: var(--table-row-even-bg);
    }
}