@use '../base/variables';

.bg-espresso{
    background-color: variables.$espresso;
}

.navbar-brand {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.nav-link {
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
        color: #d4af37;
    }
}